body, .jumbotron { 
  background: url(../images/pepe.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form {
  text-align: center;
  color: white;
}

.jumbotron {
  text-align: center;
  color: white;
}

.gif-button {
  background: green;
  color: white;
}

#add-gif {
  background: green;
  color: white; 
}



#gifsMain {
  color: white;
}